.cell{
  width: 100%;
  height: 100%;
  user-select: none;
  transition: transform 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell svg{
  width: 20px;
  height: 20px;
}
.cell.start{
  color: green;
}
.cell.end{
  color: red;
}
.cell.checkpoint{
  color: orange;
  position: relative;
  background: white !important;
}
.cell.checkpoint::after{
  content: '';
  width: 90%;
  height: 90%;
  background-image: url('../images/checkpointIcon.JPG');
  /* background-image: url('../../node_modules/@material-ui/icons/Room.js'); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.cell.wall{
  background: #0c3547;
  transform: scale(1.1);
  animation: grow 0.3s 0s;
}
.cell.visited{
  animation: visited 1.4s 0s;
  background: rgb(70, 181, 255);
  transform: scale(1.02);
}
.cell.visited_to_checkpoint{
  animation: visited_to_checkpoint 1.4s 0s;
  background: rgb(197, 114, 255);
  transform: scale(1.02);
}
.cell.path{
  background: rgb(255, 255, 91);
  animation: grow 0.3s 0s;
  transform: scale(1.1);
}

@keyframes grow{
  from{
    transform: scale(0.2);
  }
  to{
    transform: scale(1.2);
  }
}
@keyframes visited{
  0%{
    transform: scale(0.3);
    border-radius: 50%;
    background: #003483;
  }
  80%{
    background: rgb(122, 255, 182);
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
    border-radius: 0%;
    background: rgb(70, 181, 255);
  }
}
@keyframes visited_to_checkpoint{
  0%{
    transform: scale(0.3);
    border-radius: 50%;
    background: rgb(143, 8, 136);
  }
  80%{
    background: rgb(231, 74, 223);
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
    border-radius: 0%;
    background: rgb(197, 114, 255);
  }
}