.path-finder{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.path-finder .algo-desc{
  padding: 0 60px;
  margin: 12px 140px;
  text-align: center;
  font-size: 18px;
  font-family: monospace;
  letter-spacing: 1px;
  transition: transform 1s;
}
.path-finder .search-result{
  padding: 4px 80px;
  margin: 0 140px;
  text-align: center;
  font-size: 17px;
  font-family: monospace;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-result .result-part{
  background: #8bd8f8;
  padding: 8px 12px;
  border-radius: 8px;
  margin: 2px 8px;
}
.search-result .result-part .result-part-value{
  background: white;
  padding: 2px 4px;
  border-radius: 6px;
}

.board{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 20px 12px;
}
.board table{
  border: solid 2px #8bd8f8;
  border-collapse: collapse;
}
.board .board-table{
  padding: 16px;
}
.table-row{
  margin: 0;
  padding: 0;
}
.table-row .table-cell{
  background: white;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  border: solid 1px #8bd8f8;
  margin: 0;
  padding: 0;
}